.logo {
    height: 20%;
    width: 30%
}

.navbar-custom {
    background: lightgray;
}

#footer {
    margin: 0;
    padding: 18px;
    color: #000;
    background: lightgray;
}
.navbar-nav {
    margin-right: 75px;
}

.nav-item {
    font-size: 1.75em;
    margin-left: 10px;
}


/* Position text in the middle */
#demo {
    font-size: 3rem;
}  
/* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }